{
    "port": 8080,
    "discordAPIEndpoint": "https://discord.com/api/v8",
    "jwtSecret": "",
    "botToken": "",
    "imgbbapitoken": "",

    "permissions": ["admin"],

    "oauth2": {
        "clientID": "",
        "clientSecret": "",
        "redirectURI": "http://localhost:8080/callback/auth"
    },

    "db": {
        "password": "",
        "url": ""
    }
}